/** layout widths */
.i- {
  &col100 {
    width: 100%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col90 {
    width: 90%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col80 {
    width: 80%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col70 {
    width: 70%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col60 {
    width: 60%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col50 {
    width: 50%;

    &.pd-top-1 {
      padding-top: 1rem;
    }

    @include mobile-lg {
      width: 100%;
    }
  }
  &col40 {
    width: 40%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col33 {
    width: 33.3333%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col30 {
    width: 30%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col25 {
    width: 25%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col20 {
    width: 20%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &col10 {
    width: 10%;
    @include mobile-lg {
      width: 100%;
    }
  }
  &fl {
    float: left;
  }
  &fr {
    float: right;
  }
  &clr {
    clear: both;
  }
  &mar {
    margin-left: 15px;
    margin-right: 15px;
  }
}
